<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.map.food.mapper.apiData.PenaltyApiDataMapper"> 

  <insert id="insertPenalty" parameterType="kr.map.food.domain.apiData.penaltyRestaurant.PenaltyApiDTO">
  </insert>

  <select id="selectAll" resultType="kr.map.food.domain.apiData.penaltyRestaurant.PenaltyApiDTO">
  </select>


</mapper>