<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.map.food.mapper.mapInfo.BestRestaurantMapper">  

    <select id="findAllBest" resultType="kr.map.food.domain.mapInfo.RestaurantDTO">
        SELECT
            r.RESIDX,
            r.RESNAME,
            r.RESRUN,
            r.RESNUM,
            r.TYPEIDX,
            r.RESCLEANSCORE,
            r.ADDRGU,
            r.ADDRDONG,
            r.OLDADDR,
            r.NEWADDR,
            r.NUMADDR,
            r.XPOS,
            r.YPOS,
            true AS ISBEST,
            b.RESMAINDISH,
            b.BESTREGYEAR
        FROM RESTAURANT r
        INNER JOIN BESTRESTAURANT b
            ON r.RESIDX = b.RESIDX
    </select>

    <select id="findByIdBest" parameterType="String" resultType="kr.map.food.domain.mapInfo.RestaurantDTO">
        SELECT
            r.RESIDX,
            r.RESNAME,
            r.RESRUN,
            r.RESNUM,
            r.TYPEIDX,
            r.RESCLEANSCORE,
            r.ADDRGU,
            r.ADDRDONG,
            r.OLDADDR,
            r.NEWADDR,
            r.NUMADDR,
            r.XPOS,
            r.YPOS,
            true AS ISBEST,
            b.RESMAINDISH,
            b.BESTREGYEAR
        FROM RESTAURANT r
        INNER JOIN BESTRESTAURANT b
            ON r.RESIDX = b.RESIDX
        WHERE
            r.RESIDX = #{RESIDX}
    </select>

</mapper>