<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.map.food.mapper.user.UserInfoMapper">
<!-- 회원가입 -->
    <insert id="registId" parameterType="UserDTO">
        INSERT INTO USER (USERIDX, USERID, PASSWORD, USERNAME, USERTEL)
        VALUES ( 
            #{userIdx},#{userId},#{userPassword},#{userName},#{userTel}
        )
    </insert>

    <!--  로그인    -->
    <select id="loginId" parameterType="UserDTO" resultType="UserDTO">
        SELECT 
            USERIDX AS userIdx,
            PASSWORD AS userPassword            
        FROM USER
        WHERE USERID = #{userId}
        AND DELYN = 'N'
    </select>

    <!-- 아이디 중복검사 -->
    <select id="countByUserId" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM USER WHERE USERID = #{param} AND DELYN = 'N'
    </select>

    <!-- idx 조회-->
    <select id="getUserIdx" resultType="String">
        SELECT MAX(USERIDX) FROM USER
    </select>
 

</mapper>