<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.map.food.mapper.cleanGrade.CleanGradeMapper">

  <!-- 1. INSERT -->
  <insert id="insertClean" parameterType="kr.map.food.domain.cleanGrade.CleanGradeDTO">
    INSERT INTO cleangrade (
      RESIDX, RESNAME, RESCLEANSCORE, ASSIGNYEAR, ADDRGU, ADDRDONG, OLDADDR, NEWADDR, NUMADDR, XPOS, YPOS, DELYN
    ) 
    VALUES (
      #{RESIDX}, #{RESNAME}, #{RESCLEANSCORE}, #{ASSIGNYEAR}, #{ADDRGU}, #{ADDRDONG}, #{OLDADDR}, #{NEWADDR}, #{NUMADDR}, #{XPOS}, #{YPOS}, #{DELYN}
    )
  </insert>

  <!-- 2. 중복 확인 -->
  <select id="existsClean" parameterType="kr.map.food.domain.cleanGrade.CleanGradeDTO" resultType="int">
    SELECT COUNT(*) FROM CLEANGRADE
    WHERE RESNAME = #{RESNAME}
      AND NEWADDR = #{NEWADDR}
      AND ASSIGNYEAR = #{ASSIGNYEAR}
  </select>

  <!-- 3. 전체를 clDelYn = 'Y' 처리 -->
  <update id="markAllDeleted">
    UPDATE CLEANGRADE 
    SET DELYN = 'Y'
  </update>

  <!-- 4. 해당 데이터 clDelYn = 'N' 으로 복원 -->
  <update id="markAlive" parameterType="kr.map.food.domain.cleanGrade.CleanGradeDTO">
    UPDATE CLEANGRADE
    SET clDelYn = 'N'
    WHERE RESNAME = #{RESNAME}
      AND NEWADDR = #{NEWADDR}        <!-- 수정 필요 -->
      AND ASSIGNYEAR = #{ASSIGNYEAR}
  </update>

  <!-- 5. 가장 큰 CLEANIDX 가져오기 -->
  <select id="getMaxCleanIdx" resultType="String">
    SELECT MAX(RESIDX) FROM CLEANGRADE
  </select>

    <!-- 6. Update 지정등급 변경된 업소 -->
  <update id="updateClean" parameterType="kr.map.food.domain.cleanGrade.CleanGradeDTO">
    UPDATE CLEANGRADE
    SET RESCLEANSCORE = #{RESCLEANSCORE},
        DELYN = 'N'
    WHERE RESNAME = #{RESNAME}
      AND NEWADDR = #{NEWADDR}
      AND ASSIGNYEAR = #{ASSIGNYEAR}
  </update>

</mapper>
