<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.map.food.mapper.stats.CleanGradeCountMapper">  

    <select id="findCleanGradeCount" parameterType="String" resultType="kr.map.food.domain.stats.CleanGradeCountDTO">
        SELECT
            ADDRDONG,
            RESCLEANSCORE,
            COUNT(*) AS gradeCount
        FROM
            CLEANGRADE
        WHERE
            ADDRGU = #{ADDRGU}
            AND RESCLEANSCORE IN ('매우 우수', '우수', '좋음')
        GROUP BY
            ADDRDONG,
            RESCLEANSCORE
        ORDER BY
            ADDRDONG,
            FIELD(RESCLEANSCORE, '매우 우수', '우수', '좋음')
    </select>

</mapper>